.button {
  background: #FFF;
  padding: 30px 32px 29px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 222px;
  background-image: url('../../../image/arrow-2-right-long.svg');
  background-repeat: no-repeat;
  background-position: 125px 25px;
}

.text {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  margin-right: 12px;
}