.container {
  font-family: 'TT Hoves Pro Trial', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px;
  background: #FFF;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 30px;
  }
}