@font-face {
  font-family: "SFProDisplay-Black";
  font-weight: 900;
  font-style: normal;
  src: local("SFProDisplay-Black"),
    local("SFProDisplay-Black"),
    url("./fonts/SFProDisplay-Black.woff") format("woff"),
    url("./fonts/SFProDisplay-Black.woff2") format("woff2"),
    url("./fonts/SFProDisplay-Black.eot") format("eot");
  font-display: swap;
}

.section {
  margin-top: 150px;
}

.content {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.text_conten1 {
  display: flex;
  flex-basis: 33%;
  gap: 30px;
  align-items: center;
}

.text_conten2 {
  display: flex;
  flex-basis: 50%;
  gap: 30px;
  align-items: center;
}

.title {
  color: #F2F2F2;
  font-size: 200px;
  font-weight: 900;
  font-family: 'SFProDisplay-Black', sans-serif;
  font-style: normal;
  line-height: normal;
}

.text {
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}

@media (max-width: 1390px) {
  .text_conten1 {
    flex-basis: 37%;
  }

  .title {
    font-size: 180px;
  }
}

@media (max-width: 1100px) {
  .text {
    font-size: 17px;
  }

  .title {
    font-size: 150px;
  }
}

@media (max-width: 1000px) {
  .content {
    display: block;
  }

  .text_conten1 {
    gap: 48px;
  }
}

@media (max-width: 1000px) {
  .text {
    font-size: 16px;
  }

  .title {
    font-size: 120px;
  }
}

@media (max-width: 430px) {
  .text {
    font-size: 12px;
  }

  .title {
    font-size: 80px;
  }

  .text_conten1 {
    gap: 40px;
  }

  .section {
    margin-top: 75px;
  }
}