.container {
  display: flex;
  background: #FBFBFB;
  gap: 30px;
  padding-top: 30px;
}

.image_container {
  text-align: right;
}

.image {
  flex-basis: 31.63%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: -30px;
}

.content {
  display: flex;
  gap: 30px;
  flex-basis: 56%;
  justify-content: end;
}

.text {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_image {
  margin-top: 30px;
}

.button {
  background: #FFF;
  padding: 30px 32px 29px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 222px;
  background-image: url('../../../image/arrow-2-right-long.svg');
  background-repeat: no-repeat;
  background-position: 125px 25px;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  margin-right: 12px;
  transition: all ease-in-out .3s;
}

.button:hover {
  background-color: #BDBDBD;
}

@media (max-width: 1452px) {
  .content {
    flex-basis: 62%;
  }
}

@media (max-width: 1060px) {
  .container {
    display: block;
    padding: 30px;
  }

  .image {
    display: none;
  }

}

@media (max-width: 770px) {
  .content {
    display: block;
    text-align: center;
  }

  .content_image {
    margin-top: 0;
  }

  .button {
    margin: 0 auto;
  }
}

@media (max-width: 430px) {
  .container {
    display: block;
    padding: 15px;
  }

  .text {
    font-size: 12px;
  }

  .content_image {
    content-visibility: auto;
  }
}