.header {
  font-family: 'TT Hoves Pro Trial', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px;
  background: #FFF;
}

.container {
  display: flex;
  padding: 30px 0;
  align-items: center;
  gap: 30px;
}

.nav_list {
  display: flex;
  gap: 60px;
}

.list {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  padding: 4px 0;
  transition: all ease-in-out .3s;
}

.list:hover {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.image {
  flex-basis: 31.63%;
}

@media (max-width: 1240px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 991px) {
  .nav_list {
    gap: 30px;
  }

  .list {
    font-size: 10px;
  }
}


@media (max-width: 660px) {
  .nav_list {
    gap: 10px;
    flex-wrap: wrap;
  }
}