.header {
  display: flex;
  padding: 30px 0;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-left: 15px;
}

.list {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  padding: 4px 0;
  transition: all ease-in-out .3s;
}

.list:hover {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.image {
  flex-basis: 33%;
}